@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');



body, html {
  margin: 0;
  padding: 0;
}


.login-container {
  background-image: url('./images/image-login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  min-height: 400px;
}

#login-title {
  display: flex;
  justify-content: center;
}

#login-button {
  width: 250px;
  margin-top: 20px;
  margin-left: 10px;
}

#password-change {
  margin-left: 45px;
}


#card-container {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  text-align: center;
}


#title-home {
  color: #2c3e50;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 10px;
}

#admin-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

#admin-navbar button {
  padding: 0;
  border: none;
  background: none;
  font-family: 'Montserrat', sans-serif;

}

#home-line{
  border: 1px solid black;
  width: 96%;
}

#admin-navbar button:hover {
  cursor: pointer; 
  border-bottom: 3px solid black;
}

.dropdown-container{
  position: relative;
}

.dropdown-menu{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 0px;
  background-color: white;
}

.dropdown-menu button{
  margin-top: 10px;
  width: 150px;
  margin-bottom: 5px;
}


#home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;

}

#img-background {
  flex-grow: 1;
  background-image: url('./images/home-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-text{
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 10vh;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

#create-HR-container {
  text-align: center;
  background-color: #f7f7f7;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  padding: 20px; 
}

#create-HR-form{
  margin-top: 50px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

#create-HR-title{
  font-family: 'Montserrat', sans-serif;

}

#create-hr-card {
  width: 80%;
  margin-top: 5vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 30px; 
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#avatar {
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

#hr-list{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin-left: 5vh;
}
 
#hr-card p {
    font-family: 'Playfair Display', serif; 
}

#successful-registration{
  background-color: #b2fab4;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

#successful-elimination{
  background-color: #b2fab4;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

#delete-account-alert{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vh;
  background-color: #f8f1e1; /* Beige chiaro */
  border: 1px solid black;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
  display: flex;
  justify-content: center;
}

.alert-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f8f1e1;
  border: 1px solid black;
  height: 100px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;
}
